%input.hidden#offer_count{:type=>"text", :value=>"#{@offers.count}"}
- if @offers.count == 0
  %p="No Results Found"
- else 
  %div.pull-left{:style=>"display:block"}
    %span#text_page{:style=>"margin: 10px 0 !important;position: absolute;right: 125px;top: -45px;"}="Page: "
    = will_paginate @offers, :link_separator=>"#{@offers.current_page}/#{@offers.total_pages}", :previous_label=>'<i class="icon-arrow-left"></i>', :next_label=>'<i class="icon-arrow-right"></i>', :inner_window=>0, :outer_windows=>0, :page_links=>false
  .search_data_outer_div
    %ul
      - @offers.each do |offer|
        - if offer.offer_status
          %li.large_preview
            .image_area
              //%a{:href=>"/offer/show/#{offer.id}"}
              - if offer.messages.count != 0
                %span{:style=>"background-color: #727272;border: 2px solid white;color: white;left: 2px;position: absolute;text-align: center;top: 20%;width: 16px;z-index: 30;"}=offer.messages.count
              -unless offer.artwork.nil?
                =link_to (image_tag "https://artfacedev-pro.s3.amazonaws.com/public/images/uploaded/artwork/smalls/artwork_thumbnails/#{offer.artwork.id}/#{offer.artwork.artwork_thumbnail_file_name}", :alt=>"image not found", :id=>"image_offer_#{offer.artwork.id+1}" ), {:controller=>"/admin/users", :action=>"users_offer_show", :user_id=>@user.id, :id=>offer[:id]}, :id=>"a_offer_#{offer.artwork.id+1}"
            %span
              ="Not Found" if offer.artwork.nil?
              %span.artist_name=offer.artwork.artist.artist_name unless offer.nil? && offer.artwork.nil? && offer.artwork.artist.nil?
              %span.remaining_time
                ="Remaining Time - "
                = humanize_time (offer.offer_end_date.to_i - Time.now.to_i) unless offer.offer_end_date.nil?
                = "NA" if offer.offer_end_date.nil?
              %i.icon-remove.pointer{:style=>"position:absolute;right:0;display:none;", :id=>"#{offer.id}"}
        - else
          %li.large_preview{:style=>"opacity:0.5"}
            .image_area
              //%a{:href=>"/offer/show/#{offer.id}"}
              - if offer.messages.count != 0
                %span{:style=>"background-color: #727272;border: 2px solid white;color: white;left: 2px;position: absolute;text-align: center;top: 20%;width: 16px;z-index: 30;"}=offer.messages.count
              - unless offer.artwork.nil?
                =link_to (image_tag "https://artfacedev-pro.s3.amazonaws.com/public/images/uploaded/artwork/smalls/artwork_thumbnails/#{offer.artwork.id}/#{offer.artwork.artwork_thumbnail_file_name}", :alt=>"image not found", :id=>"image_offer_#{offer.artwork.id+1}"), {:controller=> "/admin/users", :action=>"users_offer_show", :user_id=>@user.id, :id=>offer[:id]}, :id=>"a_offer_#{offer.artwork.id+1}"
            %span
              ="Not Found" if offer.artwork.nil?
              %span.artist_name
                =offer.artwork.artist.artist_name unless offer.nil? && offer.artwork.nil? && offer.artwork.artist.nil?
                ="(inactive)"
              %span.remaining_time
                ="Remaining Time - "
                = humanize_time (offer.offer_end_date.to_i - Time.now.to_i) unless offer.offer_end_date.nil?
                = "NA" if offer.offer_end_date.nil?
              %i.icon-remove.pointer{:style=>"position:absolute;right:0;display:none;", :id=>"#{offer.id}"}
    %div.pull-right{:style=>"clear: both;color: black;width: 500px;"}
      = will_paginate @offers, :link_separator=>"#{@offers.current_page}/#{@offers.total_pages}", :previous_label=>'<i class="icon-arrow-left"></i>', :next_label=>'<i class="icon-arrow-right"></i>', :inner_window=>0, :outer_windows=>0, :page_links=>false, :style=>"float: right;position:static;margin:0;"
      
      :javascript
        if(parseInt($("#offer_count").val()) <= parseInt($("#offers_public_page_per_page").val())) {
        $('#offers_public_page_input_button, #offers_public_page_input, #text_for_page_number, #text_page').css('display','none')
        }
        $(".pagination").children().each(function() {
        $(this).attr("data-remote",true)
        })
        offer_count = $("#offer_count").val();
        per_page    = $("#offers_public_page_per_page").val();
        number_of_pages = parseInt(parseInt(offer_count)/parseInt(per_page))
        if (number_of_pages < 1) {
        $('#offers_public_page_input_button, #offers_public_page_input, #text_for_page_number, #text_page').css('display','none')
        }
        if ($('#offer_count').val() == 0){
        $('#offers_public_page_input_button, #offers_public_page_input, #text_for_page_number, #text_page').css('display','none')
        }

      :javascript
        $(function(){
        setTimeout('$("#basic_search_layout_select").children().first().attr("selected","true").change()',150);
        
        $("#basic_search_layout_select").change(function() {
        if ($("#basic_search_layout_select option:selected").index() == 0)
        {
        $(".search_data_outer_div ul li .image_area a img").each(function() {
        var old_img_src = $(this).prop('src')
        var new_img_src = old_img_src.replace("smalls","smalls").replace("artwork_hires","artwork_thumbnails")
        new_img_src = new_img_src.replace("mediums","smalls")
        new_img_src = new_img_src.replace("larges","smalls")
        $(this).prop('src', new_img_src)
        })

        $(".search_data_outer_div ul li").addClass("small_preview")
        $(".search_data_outer_div ul li").removeClass("medium_preview")
        $(".search_data_outer_div ul li").removeClass("large_preview")
        }
        if ($("#basic_search_layout_select option:selected").index() == 1)
        {
        $(".search_data_outer_div ul li .image_area a img").each(function() {
        var old_img_src = $(this).prop('src')
        var new_img_src = old_img_src.replace("mediums","mediums").replace("artwork_thumbnails","artwork_hires")
        new_img_src = new_img_src.replace("smalls","mediums")
        new_img_src = new_img_src.replace("larges","mediums")        
        $(this).prop('src', new_img_src)
        })
        $(".search_data_outer_div ul li").removeClass("small_preview")
        $(".search_data_outer_div ul li").addClass("medium_preview")
        $(".search_data_outer_div ul li").removeClass("large_preview")
        }
        if ($("#basic_search_layout_select option:selected").index() == 2)
        {
        $(".search_data_outer_div ul li .image_area a img").each(function() {
        var old_img_src = $(this).prop('src')
        var new_img_src = old_img_src.replace("larges","larges").replace("artwork_thumbnails","artwork_hires")
        new_img_src = new_img_src.replace("mediums","larges")
        new_img_src = new_img_src.replace("smalls","larges")
        $(this).prop('src', new_img_src)
        })
        $(".search_data_outer_div ul li").removeClass("small_preview")
        $(".search_data_outer_div ul li").removeClass("medium_preview")
        $(".search_data_outer_div ul li").addClass("large_preview")
        }
        })
        })
:javascript
  if ($("#offer_count").val() == "0") {
  $(".nav_sort_bar").hide()
  } else {
  $(".nav_sort_bar").show()
  }