= render :partial => "admin/layouts/header"
.service_container{:style=>"float:left;width:820px;margin-left:2%;"}
  =# render :partial => "admin/service/index/layout_part_one"
  = render :partial => "admin/services/index/layout_part_two"
  = render :partial => "admin/services/index/layout_part_three"
  = render :partial => "admin/services/index/layout_part_four"
  = render :partial => "admin/services/index/layout_part_five"
  =# render :partial => "admin/service/index/layout_part_six"
= render :partial => "admin/layouts/footer"