%input.hidden#offer_count{:type=>"text", :value=>"#{@offers[index].count}"}
:javascript
  $("#search_data_offers_count").html($("#offer_count").val())
- if @offers[index].count == 0
  %p="No Results Found"
- else 
  %div{:style=>"float:left;display:block"}
    %span#text_page{:style=>"margin: 10px 0 !important;position: absolute;right: 125px;top: -45px;"}="Page: "
    %div.pull-left
      = will_paginate @offers[index], :link_separator=>"#{@offers[index].current_page}/#{@offers[index].total_pages}", :previous_label=>'<i class="icon-arrow-left"></i>', :next_label=>'<i class="icon-arrow-right"></i>', :inner_window=>0, :outer_windows=>0, :page_links=>false
  .search_data_outer_div
    %ul
      - if @index_from_update == true
        - @offers[index].each do |offer|
          %li.large_preview
            .image_area
              %a{:href=>"#"}
                -# if offer.messages.count != 0
                  %span{:style=>"background-color: #727272;border: 2px solid white;color: white;left: 2px;position: absolute;text-align: center;top: 20%;width: 16px;z-index: 30;"}=offer.messages.count
                =image_tag "https://artfacedev-pro.s3.amazonaws.com/public/images/uploaded/artwork/originals/artwork_hires/#{offer.artwork.id}/#{offer.artwork.artwork_hires_file_name}", :alt=>"image not found" unless offer.artwork.nil?
            %span{:style=>"text-align:center"}
              ="Not Found" if offer.artwork.nil?
              %span.artist_name=offer.artwork.artist.artist_name unless offer.nil? && offer.artwork.nil? && offer.artwork.artist.nil?
              %span.remaining_time
                ="Remaining Time - "
                = humanize_time (offer.offer_end_date.to_i - Time.now.to_i) unless offer.offer_end_date.nil?
                = "NA" if offer.offer_end_date.nil?
      - else
        - @offers[index].each do |offer|
          %li.large_preview
            .image_area
              %a{:href=>"#"}
                -# if offer.messages.count != 0
                  %span{:style=>"background-color: #727272;border: 2px solid white;color: white;left: 2px;position: absolute;text-align: center;top: 20%;width: 16px;z-index: 30;"}=offer.messages.count
                =image_tag "https://artfacedev-pro.s3.amazonaws.com/public/images/uploaded/artwork/originals/artwork_hires/#{offer.artwork.id}/#{offer.artwork.artwork_hires_file_name}", :alt=>"image not found" unless offer.artwork.nil?
            %span{:style=>"text-align:center"}
              ="Not Found" if offer.artwork.nil?
              %span.artist_name=offer.artwork.artist.artist_name unless offer.nil? && offer.artwork.nil? && offer.artwork.artist.nil?
              %span.remaining_time
                ="Remaining Time - "
                = humanize_time (offer.offer_end_date.to_i - Time.now.to_i) unless offer.offer_end_date.nil?
                = "NA" if offer.offer_end_date.nil?
        
    %div{:style=>"clear: both;color: black;float: right;width: 500px;"}  
      = will_paginate @offers[index], :link_separator=>"#{@offers[index].current_page}/#{@offers[index].total_pages}", :previous_label=>'<i class="icon-arrow-left"></i>', :next_label=>'<i class="icon-arrow-right"></i>', :inner_window=>0, :outer_windows=>0, :page_links=>false, :style=>"float: right;position:static;margin:0;"
      %input#offers_public_page_input_button{:type=>"button", :value=>"go", :style=>"float:right;height:30px;width:40px;margin-right:20px;"}
      %input#offers_public_page_input{:type=>"text", :style=>"width:30px;float:right;margin-right:20px;margin-bottom:0;"}
      %span#text_for_page_number{:style=>"float:right;margin-right:20px;line-height:30px;"}="Enter the page number"
      - if @index_from_update == true
        :javascript
          if(parseInt($("#" + "wishlist_new_#{@index}" + " #offer_count").val()) <= parseInt($("#" + "wishlist_new_#{@index}" + " #offers_public_page_per_page").val())) {
          $("#" + "wishlist_new_#{@index}" + " #offers_public_page_input_button" ).css("display",'none')
          $("#" + "wishlist_new_#{@index}" + " #offers_public_page_input" ).css("display",'none')
          $("#" + "wishlist_new_#{@index}" + " #text_page" ).css("display",'none')
          $("#" + "wishlist_new_#{@index}" + " #text_for_page_number" ).css("display",'none')
          }
          $("#" + "wishlist_new_#{@index}" + " .pagination").children().each(function() {
          $(this).attr("data-remote",true)
          })
          offer_count = $("#" + "wishlist_new_#{@index}" + " #offer_count").val();
          per_page    = $("#" + "wishlist_new_#{@index}" + " #offers_public_page_per_page").val();
          number_of_pages = parseInt(parseInt(offer_count)/parseInt(per_page))
          if (number_of_pages < 1) {
          $("#" + "wishlist_new_#{@index}" + " #offers_public_page_input_button" ).css("display",'none')
          $("#" + "wishlist_new_#{@index}" + " #offers_public_page_input" ).css("display",'none')
          $("#" + "wishlist_new_#{@index}" + " #text_page" ).css("display",'none')
          $("#" + "wishlist_new_#{@index}" + " #text_for_page_number" ).css("display",'none')
          }
          if ($("#" + "wishlist_new_#{@index}" + " #offer_count").val() == 0){
          $("#" + "wishlist_new_#{@index}" + " #offers_public_page_input_button" ).css("display",'none')
          $("#" + "wishlist_new_#{@index}" + " #offers_public_page_input" ).css("display",'none')
          $("#" + "wishlist_new_#{@index}" + " #text_page" ).css("display",'none')
          $("#" + "wishlist_new_#{@index}" + " #text_for_page_number" ).css("display",'none')
          }
      - else
        :javascript
          set_preview_size();
          if(parseInt($("#" + "wishlist_new_#{index}" + " #offer_count").val()) <= parseInt($("#" + "wishlist_new_#{index}" + " #offers_public_page_per_page").val())) {
          $("#" + "wishlist_new_#{index}" + " #offers_public_page_input_button" ).css("display",'none')
          $("#" + "wishlist_new_#{index}" + " #offers_public_page_input" ).css("display",'none')
          $("#" + "wishlist_new_#{index}" + " #text_page" ).css("display",'none')
          $("#" + "wishlist_new_#{index}" + " #text_for_page_number" ).css("display",'none')
          }
          $("#" + "wishlist_new_#{index}" + " .pagination").children().each(function() {
          $(this).attr("data-remote",true)
          })
          offer_count = $("#" + "wishlist_new_#{index}" + " #offer_count").val();
          per_page    = $("#" + "wishlist_new_#{index}" + " #offers_public_page_per_page").val();
          number_of_pages = parseInt(parseInt(offer_count)/parseInt(per_page))
          if (number_of_pages < 1) {
          $("#" + "wishlist_new_#{index}" + " #offers_public_page_input_button" ).css("display",'none')
          $("#" + "wishlist_new_#{index}" + " #offers_public_page_input" ).css("display",'none')
          $("#" + "wishlist_new_#{index}" + " #text_page" ).css("display",'none')
          $("#" + "wishlist_new_#{index}" + " #text_for_page_number" ).css("display",'none')
          }
          if ($("#" + "wishlist_new_#{index}" + " #offer_count").val() == 0){
          $("#" + "wishlist_new_#{index}" + " #offers_public_page_input_button" ).css("display",'none')
          $("#" + "wishlist_new_#{index}" + " #offers_public_page_input" ).css("display",'none')
          $("#" + "wishlist_new_#{index}" + " #text_page" ).css("display",'none')
          $("#" + "wishlist_new_#{index}" + " #text_for_page_number" ).css("display",'none')
          }
      
      - if @index_from_update == true
        :javascript
          set_preview_size();
          if ($("#" + "wishlist_new_#{@index}" + " #basic_search_layout_select option:selected").index() == 0)
          {
          $("#" + "wishlist_new_#{@index}" + " div.search_data_outer_div ul li").addClass("small_preview")
          $("#" + "wishlist_new_#{@index}" + " div.search_data_outer_div ul li").removeClass("medium_preview")
          $("#" + "wishlist_new_#{@index}" + " div.search_data_outer_div ul li").removeClass("large_preview")
          }
          if ($("#" + "wishlist_new_#{@index}" + " #basic_search_layout_select option:selected").index() == 1)
          {
          $("#" + "wishlist_new_#{@index}" + " div.search_data_outer_div ul li").removeClass("small_preview") 
          $("#" + "wishlist_new_#{@index}" + " div.search_data_outer_div ul li").addClass("medium_preview")
          $("#" + "wishlist_new_#{@index}" + " div.search_data_outer_div ul li").removeClass("large_preview")
          }
          if ($("#" + "wishlist_new_#{@index}" + " #basic_search_layout_select option:selected").index() == 2)
          {
          $("#" + "wishlist_new_#{@index}" + " div.search_data_outer_div ul li").removeClass("small_preview")
          $("#" + "wishlist_new_#{@index}" + " div.search_data_outer_div ul li").removeClass("medium_preview")
          $("#" + "wishlist_new_#{@index}" + " div.search_data_outer_div ul li").addClass("large_preview") 
          }
          $("#" + "wishlist_new_#{@index}" + " #basic_search_layout_select").change(function() {
          if ($("#" + "wishlist_new_#{@index}" + " #basic_search_layout_select option:selected").index() == 0)
          {
          $("#" + "wishlist_new_#{@index}" + " div.search_data_outer_div ul li").addClass("small_preview")
          $("#" + "wishlist_new_#{@index}" + " div.search_data_outer_div ul li").removeClass("medium_preview")
          $("#" + "wishlist_new_#{@index}" + " div.search_data_outer_div ul li").removeClass("large_preview")
          }
          if ($("#" + "wishlist_new_#{@index}" + " #basic_search_layout_select option:selected").index() == 1)
          {
          $("#" + "wishlist_new_#{@index}" + " div.search_data_outer_div ul li").removeClass("small_preview")
          $("#" + "wishlist_new_#{@index}" + " div.search_data_outer_div ul li").addClass("medium_preview")
          $("#" + "wishlist_new_#{@index}" + " div.search_data_outer_div ul li").removeClass("large_preview")
          }
          if ($("#" + "wishlist_new_#{@index}" + " #basic_search_layout_select option:selected").index() == 2)
          {
          $("#" + "wishlist_new_#{@index}" + " div.search_data_outer_div ul li").removeClass("small_preview")
          $("#" + "wishlist_new_#{@index}" + " div.search_data_outer_div ul li").removeClass("medium_preview")
          $("#" + "wishlist_new_#{@index}" + " div.search_data_outer_div ul li").addClass("large_preview")
          }
          })
          if ($("#" + "wishlist_new_#{@index}" + " #offer_count").val() == "0") {
          $("#" + "wishlist_new_#{@index}" + " .nav_sort_bar").hide()
          } else {
          $("#" + "wishlist_new_#{@index}" + " .nav_sort_bar").show()
          }
      - else

        :javascript
          set_preview_size();
          if ($("#" + "wishlist_new_#{index}" + " #basic_search_layout_select option:selected").index() == 0)
          {
          $("#" + "wishlist_new_#{index}" + " div.search_data_outer_div ul li").addClass("small_preview")
          $("#" + "wishlist_new_#{index}" + " div.search_data_outer_div ul li").removeClass("medium_preview")
          $("#" + "wishlist_new_#{index}" + " div.search_data_outer_div ul li").removeClass("large_preview")
          }
          if ($("#" + "wishlist_new_#{index}" + " #basic_search_layout_select option:selected").index() == 1)
          {
          $("#" + "wishlist_new_#{index}" + " div.search_data_outer_div ul li").removeClass("small_preview") 
          $("#" + "wishlist_new_#{index}" + " div.search_data_outer_div ul li").addClass("medium_preview")
          $("#" + "wishlist_new_#{index}" + " div.search_data_outer_div ul li").removeClass("large_preview")
          }
          if ($("#" + "wishlist_new_#{index}" + " #basic_search_layout_select option:selected").index() == 2)
          {
          $("#" + "wishlist_new_#{index}" + " div.search_data_outer_div ul li").removeClass("small_preview")
          $("#" + "wishlist_new_#{index}" + " div.search_data_outer_div ul li").removeClass("medium_preview")
          $("#" + "wishlist_new_#{index}" + " div.search_data_outer_div ul li").addClass("large_preview") 
          }
          $("#" + "wishlist_new_#{index}" + " #basic_search_layout_select").change(function() {
          if ($("#" + "wishlist_new_#{index}" + " #basic_search_layout_select option:selected").index() == 0)
          {
          $("#" + "wishlist_new_#{index}" + " div.search_data_outer_div ul li").addClass("small_preview")
          $("#" + "wishlist_new_#{index}" + " div.search_data_outer_div ul li").removeClass("medium_preview")
          $("#" + "wishlist_new_#{index}" + " div.search_data_outer_div ul li").removeClass("large_preview")
          }
          if ($("#" + "wishlist_new_#{index}" + " #basic_search_layout_select option:selected").index() == 1)
          {
          $("#" + "wishlist_new_#{index}" + " div.search_data_outer_div ul li").removeClass("small_preview")
          $("#" + "wishlist_new_#{index}" + " div.search_data_outer_div ul li").addClass("medium_preview")
          $("#" + "wishlist_new_#{index}" + " div.search_data_outer_div ul li").removeClass("large_preview")
          }
          if ($("#" + "wishlist_new_#{index}" + " #basic_search_layout_select option:selected").index() == 2)
          {
          $("#" + "wishlist_new_#{index}" + " div.search_data_outer_div ul li").removeClass("small_preview")
          $("#" + "wishlist_new_#{index}" + " div.search_data_outer_div ul li").removeClass("medium_preview")
          $("#" + "wishlist_new_#{index}" + " div.search_data_outer_div ul li").addClass("large_preview")
          }
          })
          if ($("#" + "wishlist_new_#{index}" + " #offer_count").val() == "0") {
          $("#" + "wishlist_new_#{index}" + " .nav_sort_bar").hide()
          } else {
          $("#" + "wishlist_new_#{index}" + " .nav_sort_bar").show()
          }
