= render :partial=> 'layouts/header'
= render :partial=> 'devise/registrations/step_one'
= render :partial=> 'devise/registrations/step_two'
= render :partial=> 'devise/registrations/step_three'
= render :partial=> 'devise/registrations/step_four'
= render :partial=> 'layouts/footer'