= content_tag :h3, "FIND AN ART LAWYER"
= content_tag :ul, :class=>"unstyled pull-left", :style=>"width:100%;" do
  = content_tag :li, :class=>"pull-left", :style=>"width:31%;padding:5px;" do
    ="When buying a piece of art we strongly recommend to settle the deal with the help of lawyer. Lorep ipsum dolor sit amet, consectetuer "
  = content_tag :li, :class=>"pull-left", :style=>"width:31%;padding:5px;" do
    ="Lorem ipsum dolor sit amet, consectetuer adipiscng elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis"
  = content_tag :li, :class=>"pull-left", :style=>"width:31%;padding:5px;" do
    ="parturient montes, nascetur ridiculus mus. Donecquam felis, ultricies nec, pellentesque eu, pretiumquis, sem. Nulla consequat massa quis."