=render :partial=> "admin/layouts/header"
%div{:align=>"center"}
  #head2.wrapper_admin.head2_admin
    %h2{:style=>"float:left;"} THIS NEEDS YOUR ATTENTION
    %br
    %table.table_admin
      %tr
        %td.td_admin.color1
          %u payment conflicts
          %p= link_to Subscription.where(:subscription_confirmed => false).count, admin_admin_path
        %td.td_admin.color2
          %u unacknowledged artist name
          %p= link_to Artist.where(:approved_status=>false).count, admin_admin_unknown_artist_path
        %td.td_admin.color1
          %u abuse reports
          %p
            =link_to "#{MessageAdmin.count}", admin_admin_path


  #head3.head3_admin
    %h2= "STATISTICS: " "#{Time.now.strftime("%d %B %Y")}"
    %br
    %span{:style=>"clear:both;"}="For the year"
    %select{:id=> "year_to_pop"}
      %option{:value=> "all"} All
      %option{:value=> "today"} Today
      %option{:value=> "week"} This week
      %option{:value=> "month"} This month
      %option{:value=> "quarter"} This quarter
      %option{:value=> "year"} This year
      %option{:value=> "prev_year"} Previous year
      %option{:value=> "tyear"} Last two years

  #stats_partial

    =render :partial=>"sub_stats"

  #head4.wrapper_admin.head4_admin
    %h1 WHAT'S HAPPENING ?
    %br
    %table{:style=>"margin-right: 290px"}
      %th
        Sort list by
        %select{:id=> "offer_sort", :style =>"width:130px;"}
          %option{:value => "Most Clicked"} Most Clicked
          %option{:value => "Most messages"} Most messages
          %option{:value => "Most forum activities"} Most forum activities
          %option{:value => "Newest"} Newest
          %option{:value => "Highest offer"} Highest offer
          %option{:value => "Time left"} Time left 
      %th 
        Items per page
        %select{:id => "myperpage" ,:style =>"width:100px;"} 
          %option{:value => "7"} 7
          %option{:value => "10"} 10
          %option{:value => "15"} 15
          %option{:value => "20"} 20         

    #mycheck     
      =render :partial => "offer_data"
      
            
//just started have to implement proper design and functional things

=render :partial=> "admin/layouts/footer"         
  