= hidden_field_tag :report_basic_search, false
= hidden_field_tag :report_advanced_search, false
= content_tag :div, :class=>"search pull-left", :style=>"width:840px;border:1px solid #727272;border-radius:8px;background-color:#727272;padding:5px;" do
	= content_tag :h3, :class=>"pull-left", :style=>"margin-right:25px;" do
		= "SEARCH"
	= form_for :message_admin, :url=>admin_admin_abusereport_search_path,:method=>"POST",:remote=>"true", :html=>{:class=>"filter_1_basic pull-left", :style=>"margin-top:20px;display:block;"} do |f|
		= f.hidden_field :search_basic, :value=>true
		= f.hidden_field :search_in, :value=>2
		-#= f.hidden_field "sort_by", :name=>"sort_by"
		-#= f.hidden_field "per_page", :name=>"per_page"
		= f.text_field :search_term, :class=>"basic_search_term pull-left", :placeholder=>"SEARCH", :style=>"border:1px solid black;width:450px;margin-right:5px", :id => "search_by_value"
		= image_tag "/images/plus.png", :class=>"pull-left admin_search_toggle_1 pointer", :style=>"margin-right:5px;"
		= f.submit "SEARCH", :class=>"btn pull-left", :id=> "report_basic_search_btn"

	= form_for :message_admin, :url=>admin_admin_abusereport_search_path, :method=>"POST", :remote=>"true", :html=>{:class=>"filter_1_advanced pull-left", :style=>"display:none;margin-top:20px;"} do |f|
		= f.hidden_field :search_advanced, :value=>true
		= f.hidden_field :search_in, :value=>3
		-#= f.hidden_field "sort_by", :name=>"sort_by"
		-#= f.hidden_field "per_page", :name=>"per_page"
		= content_tag :ul, :class=>"search_filters unstyled pull-left", :style=>"width:550px;" do
			= content_tag :li, :class=>"filter_li pull-left" do
				%select#advanced_select_1.select_first.pull-left{:style=>"width:130px;"}
					%option{"data-function"=>"$(a).html('')", :value=>"Please Choose"}="Please choose"
					%option{"data-function"=>"if (check_option('Concern')!=false){$(a).html(\"#{escape_javascript(render("admin\/admin\/abuse_reports\/advanced_search\/user_name"))}\");} else {alert('Error: Value already used ');}", :value=>"User name"}="User name"
					%option{"data-function"=>"if (check_option('Concern')!=false){$(a).html(\"#{escape_javascript(render("admin\/admin\/abuse_reports\/advanced_search\/artist_name"))}\");} else {alert('Error: Value already used ');}", :value=>"Artist name"}="Artist name"
					%option{"data-function"=>"if (check_option('Concern')!=false){$(a).html(\"#{escape_javascript(render("admin\/admin\/abuse_reports\/advanced_search\/description"))}\");} else {alert('Error: Value already used ');}", :value=>"Description"}="Description"
					%option{"data-function"=>"if (check_option('Concern')!=false){$(a).html(\"#{escape_javascript(render("admin\/admin\/abuse_reports\/advanced_search\/time_span_starts"))}\");} else {alert('Error: Value already used ');}", :value=>"Time span starts"}="Time span starts"
					%option{"data-function"=>"if (check_option('Concern')!=false){$(a).html(\"#{escape_javascript(render("admin\/admin\/abuse_reports\/advanced_search\/time_span_ends"))}\");} else {alert('Error: Value already used ');}", :value=>"Time span ends"}="Time span ends"
					%option{"data-function"=>"if (check_option('Concern')!=false){$(a).html(\"#{escape_javascript(render("admin\/admin\/abuse_reports\/advanced_search\/issue"))}\");} else {alert('Error: Value already used ');}", :value=>"Issue is"}="Issue is"
				= content_tag :span, :id=>"span_1", :class=>"append_span_field", :style=>"width:340px;" do
					=""
				= image_tag "/images/minus.png", :class=>"pointer admin_remove_search_field_1 pull-right"
				= image_tag "/images/plus.png", :class=>"pointer admin_add_search_field_1 pull-right"
		= f.submit "SEARCH", :class=>"btn submit_button pull-left", :id=> "report_advanced_search_btn"