= "Hi #{@name}"
%br
= "Admin has invited you to join Artface.com"
%br
= "kindly visit the link "
= link_to "Approve my account", "http://artfacejpr.herokuapp.com/users/login"
=  " to visit your profile"
%br
