.offer_layout_two{:style=>"width:820px;margin-left:2%	"}
	.section_one{:style=>"background-color:#727272;margin-bottom:10px;color:#FFF"}
		%h3{:style=>"display:inline"}=t '.section_one_heading'
		%span{:style=>"font-size:10px"}=t '.section_one_text_one'
		%span
			%input{:class=>"btn new_offer_edit", :style=>"width:114px;margin-left:80px;", :value=>"#{t '.section_one_button_edit'}", :type=>"button"}
			%input{:class=>"new_offer_submit btn", :style=>"width:114px;", :value=>"#{t '.section_one_button_submit'}", :type=>"button"}
	.section_two{:style=>"margin-left:3%;margin-right:3%;float:left;width:100%"}
		.section_two_one{:style=>"width:62%;float:left;margin-right:10px;"}
			#img_show_hi_res_all{:style=>"position:relative;float:left;width:480px;height:480px;"}
		.section_two_two{:style=>"width:35%;float:left"}
			#summary_artist_name{:class=>"summary_artist_name", :style=>"font-size: 31px;word-break: break-all;"}
			%br
			%br
			#summary_artist_life_span{:class=>"summary_artist_life_span", :style=>"font-size: 14px;word-break: break-all;margin-left:0px;"}=t '.section_two_two_artist_chronology'
			%br
			#summary_painting_title{:class=>"summary_painting_title", :style=>"font-size: 30px;word-break: break-all;"}
			%br
			%br
			%ul{:style=>"list-style:none;margin-left:0px"}
				%li
					%span{:style=>"width:155px;float:left;"}=t '.summary_painting_title_category'
					%span{:style=>"", :id=>"summary_category"}
				%li
					%span{:style=>"width:155px;float:left;"}=t '.summary_painting_medium'
					%span{:style=>"", :id=>"summary_medium"}
				%li
					%span{:style=>"width:155px;float:left;"}=t '.summary_painting_sizes'
					%span{:style=>"", :id=>"summary_size"}
				%li
					%span{:style=>"width:155px;float:left;"}=t '.summary_painting_date_creation'
					%span{:style=>"", :id=>"summary_year"}
				%li
					%span{:style=>"width:155px;float:left;"}=t '.summary_painting_period'
					%span{:style=>"", :id=>"summary_period"}
				%li
					%span{:style=>"width:155px;float:left;"}=t '.summary_painting_signature'
					%span{:style=>"", :id=>"summary_signature"}
				%li
					%span{:style=>"width:155px;float:left;"}=t '.summary_painting_frame'
					%span{:style=>"", :id=>"summary_frame"}
				%li
					%span{:style=>"width:155px;float:left;"}=t '.summary_painting_certificate'
					%span{:style=>"", :id=>"summary_certificate"}
				%li
					%span{:style=>"width:155px;float:left;"}=t '.summary_painting_country'
					%span{:style=>"", :id=>"summary_country"}
				%li
					%span{:style=>"width:155px;float:left;"}=t '.summary_painting_submitted'
					%span{:style=>"", :id=>"summary_"}
				%li
					%span{:style=>"width:155px;float:left;"}=t '.summary_painting_purpose'
					%span{:style=>"", :id=>"summary_purpose"}

	.section_three{:style=>"margin-left:3%;margin-right:3%;margin-top:10px;float:left;width:100%;height:140px;"}
		.section_three_one{:style=>"width:65%;float:left;position:relative"}
			%div{:style=>"float:left;width:100%;"}
				#img_show_hi_res_parent_div{:style=>"float:left;position:relative;width:95px;margin-right:15px"}
					#img_show_hi_res{:style=>"display:inline;margin-right:10px;float:left;padding-left:5px;width:91px;height:91px"}
					%a{:href=>"#crop_image_hi_res", :role=>"button", "data-toggle"=>"modal", :style=>"position:absolute;right:0;top:0;z-index:10"}
						%i.icon-white.icon-zoom-in{:style=>"position: absolute;right: 0px;top: 0;z-index: 10;"}
				#img_show_detail_1_parent_div{:style=>"float:left;position:relative;width:95px;margin-right:15px"}
					#img_show_detail_1{:style=>"display:inline;margin-right:10px;float:left;padding-left:5px;width:91px;height:91px"}
					%a{:href=>"#crop_image_detail_1", :role=>"button", "data-toggle"=>"modal", :style=>"position:absolute;right:0;top:0;z-index:10"}
						%i.icon-white.icon-zoom-in{:style=>"position: absolute;right: 0px;top: 0;z-index: 10;"}
				#img_show_detail_2_parent_div{:style=>"float:left;position:relative;width:95px;margin-right:15px"}
					#img_show_detail_2{:style=>"display:inline;margin-right:10px;float:left;padding-left:5px;width:91px;height:91px"}
					%a{:href=>"#crop_image_detail_2", :role=>"button", "data-toggle"=>"modal", :style=>"position:absolute;right:0;top:0;z-index:10"}
						%i.icon-white.icon-zoom-in{:style=>"position: absolute;right: 0px;top: 0;z-index: 10;"}
				#img_show_documents_parent_div{:style=>"float:left;position:relative;width:95px;margin-right:15px"}
					#img_show_documents{:style=>"display:inline;margin-right:10px;float:left;padding-left:5px;width:91px;height:91px"}
					%a{:href=>"#crop_image_documents", :role=>"button", "data-toggle"=>"modal", :style=>"position:absolute;right:0;top:0;z-index:10"}
						%i.icon-white.icon-zoom-in{:style=>"position: absolute;right: 0px;top: 0;z-index: 10;"}
			%div{:style=>"float:left;width:100%"}
				%p{:style=>"font-size:10px;display:inline;width:110px;float:left;margin-right:0px;"}
					=t '.complete_view'
					%br
					-#%a{:href=>"#crop_image_hi_res", :role=>"button", :class=>"btn", "data-toggle"=>"modal"}="Crop Image"
				%p{:style=>"font-size:10px;display:inline;width:110px;float:left;margin-right:0px;"}
					=t '.detail_one'
					%br
					-#%a{:href=>"#crop_image_detail_1", :role=>"button", :class=>"btn", "data-toggle"=>"modal"}="Crop Image"
				%p{:style=>"font-size:10px;display:inline;width:110px;float:left;margin-right:0px;"}
					=t '.detail_two'
					%br
					-#%a{:href=>"#crop_image_detail_2", :role=>"button", :class=>"btn", "data-toggle"=>"modal"}="Crop Image"
				%p{:style=>"font-size:10px;display:inline;width:110px;float:left;margin-right:0px;"}
					=t '.document'
					%br
					-#%a{:href=>"#crop_image_documents", :role=>"button", :class=>"btn", "data-toggle"=>"modal"}="Crop Image"
		.section_three_two{:style=>"float:left;width:35%"}
			%strong=t '.section_three_two_strong_text'
			%p=t '.section_three_two_text'
			%br
			%input{:type=>"button", :style=>"width:175px", :value=>"#{t '.section_three_two_button_one'}", :class=>"btn", :disabled=>"disabled"}

	.section_four{:style=>"margin-left:3%;margin-right:3%;margin-top:10px;float:left;width:100%"}
		.section_four_one{:style=>"float:left;width:65%"}
			%h3=t '.section_four_one_heading'
			%textarea{:style=>"margin: 0px 0px 9px;width: 450px;height: 200px;max-height: 200px;max-width: 450px;", :readonly=>"readonly", :id=>"summary_description"}
		.section_four_two{:style=>"float:left;width:32%;"}
			%input{:type=>"button", :value=>"#{t '.section_four_two_button_one'}", :style=>"margin-top:65px;width:175px", :class=>"btn", :disabled=>"disabled"}
			%input{:type=>"button", :value=>"#{t '.section_four_two_button_two'}", :style=>"margin-top:10px;width:175px", :class=>"btn", :disabled=>"disabled"}
			%input{:type=>"button", :value=>"#{t '.section_four_two_button_three'}", :style=>"margin-top:10px;width:175px", :class=>"btn", :disabled=>"disabled"}
	
	.section_five{:style=>"background-color:#727272;margin-bottom:10px;color:#FFF;float:left;width:100%;padding-bottom: 10px;padding-top: 10px;"}
		%span{:style=>"font-size:10px;float:left;width:60%;line-height:15px;margin-left:10px;"}=t '.section_five_text_one'
		%span
			%input{:id=>"", :class=>"btn new_offer_edit", :style=>"width:100px;margin-top:5px;width:110px;margin-left:80px;", :value=>"#{t '.section_five_button_one'}", :type=>"button"}
			%input{:class=>"btn new_offer_submit", :style=>"width:100px;margin-top:5px;width:110px;", :value=>"#{t '.section_five_button_two'}", :type=>"button"}
	.section_six
		#crop_image_hi_res.modal.hide.fade{:tabindex=>"-1", :role=>"dialog", "aria-labelledby"=>"myModalLabel", "aria-hidden"=>"true"}
			.modal-header
				%button.close{:type=>"button", "data-dismiss"=>"modal", "aria-hidden"=>"true"}="X"
				%h3#myModalLabel=t '.crop_image_hi_res_heading'
			.modal-body
				%a{:id=>"crop_image_hi_res_jcrop"}
			.modal-footer
				%button.btn.btn-primary{:id=>"button_crop_image_hi_res_jcrop_start", :style=>"float:left;margin-left:20px;"}=t '.start_cropping'
				%button.btn.btn-primary{:id=>"button_crop_image_hi_res_jcrop_cancel", :style=>"float:left;margin-left:10px;"}=t '.cancel_cropping'
				%button.btn{"data-dismiss"=>"modal", "aria-hidden"=>"true"}=t '.save_changes'
		#crop_image_detail_1.modal.hide.fade{:tabindex=>"-1", :role=>"dialog", "aria-labelledby"=>"myModalLabel", "aria-hidden"=>"true"}
			.modal-header
				%button.close{:type=>"button", "data-dismiss"=>"modal", "aria-hidden"=>"true"}="X"
				%h3#myModalLabel="Crop detail one image"
			.modal-body
				%a{:id=>"crop_image_detail_one_jcrop"}
			.modal-footer
				%button.btn.btn-primary{:id=>"button_crop_image_detail_one_jcrop_start", :style=>"float:left;margin-left:20px;"}=t '.start_cropping'
				%button.btn.btn-primary{:id=>"button_crop_image_detail_one_jcrop_cancel", :style=>"float:left;margin-left:10px;"}=t '.cancel_cropping'
				%button.btn{"data-dismiss"=>"modal", "aria-hidden"=>"true"}=t '.save_changes'
		#crop_image_detail_2.modal.hide.fade{:tabindex=>"-1", :role=>"dialog", "aria-labelledby"=>"myModalLabel", "aria-hidden"=>"true"}
			.modal-header
				%button.close{:type=>"button", "data-dismiss"=>"modal", "aria-hidden"=>"true"}="X"
				%h3#myModalLabel="Crop detail two image"
			.modal-body
				%a{:id=>"crop_image_detail_two_jcrop"}
			.modal-footer
				%button.btn.btn-primary{:id=>"button_crop_image_detail_two_jcrop_start", :style=>"float:left;margin-left:20px;"}=t '.start_cropping'
				%button.btn.btn-primary{:id=>"button_crop_image_detail_two_jcrop_cancel", :style=>"float:left;margin-left:10px;"}=t '.cancel_cropping'
				%button.btn{"data-dismiss"=>"modal", "aria-hidden"=>"true"}=t '.save_changes'
		#crop_image_documents.modal.hide.fade{:tabindex=>"-1", :role=>"dialog", "aria-labelledby"=>"myModalLabel", "aria-hidden"=>"true"}
			.modal-header
				%button.close{:type=>"button", "data-dismiss"=>"modal", "aria-hidden"=>"true"}="X"
				%h3#myModalLabel="Crop documentation image"
			.modal-body
				%a{:id=>"crop_image_documentation_jcrop"}
			.modal-footer
				%button.btn.btn-primary{:id=>"button_crop_image_documentation_jcrop_start", :style=>"float:left;margin-left:20px;"}=t '.start_cropping'
				%button.btn.btn-primary{:id=>"button_crop_image_documentation_jcrop_cancel", :style=>"float:left;margin-left:10px;"}=t '.cancel_cropping'
				%button.btn{"data-dismiss"=>"modal", "aria-hidden"=>"true"}=t '.save_changes'