= render :partial => "layouts/header"
.buy_art_area
  .container
    = render :partial => "offer/buy-art/header_artwork"
    = render :partial => "offer/buy-art/search"
    = render :partial => "offer/buy-art/wishlists/wishlists"
    = render :partial => "offer/buy-art/favourites/favourites"
    = render :partial => "offer/buy-art/buy_art_messages/buy_art_area_messages"
    = render :partial => "offer/buy-art/interesting_offers/interesting_offers"
= render :partial => "dashboard/footer"