= render :partial => 'dashboard/header'
= render :partial => 'offer/edit/edit'
= render :partial => 'offer/edit/summary'
= render :partial => 'offer/edit/full_screen_edit'
= render :partial => "layouts/footer"