= render :partial => 'dashboard/header'
.container
  = render :partial => 'offer/home/offer_home_header_artwork'
  = render :partial => 'offer/home/current_offers'
  = render :partial => 'offer/home/favourites/favourites'
  = render :partial => 'offer/home/wishlists/wishlists'
  = render :partial => 'offer/home/interesting_offers/interesting_offers'
  #dashboard_recommend_artface
    = render :partial => 'offer/home/recommend_artface'
= render :partial => 'dashboard/footer'