= render :partial => "dashboard/header"
= render :partial => "offer/my_offer_show/show"
= render :partial => "offer/my_offer_show/messages"
= render :partial => "offer/my_offer_show/full_screen_myoffer_show"
= render :partial => "dashboard/footer"