= render :partial => 'dashboard/header'
= render :partial => 'offer/new/new'
= render :partial => 'offer/new/summary'
= render :partial => 'offer/new/full_screen'
= render :partial => "layouts/footer"
