= render :partial => "layouts/header"
.container_forum_index
	= render :partial => "forum/home/layout_part_one"
	= render :partial => "forum/home/layout_part_two"
	= render :partial => "forum/home/layout_part_three"
	= render :partial => "forum/home/layout_part_four"
= render :partial => "layouts/footer"