= javascript_include_tag "admin/admin_artist_validation.js"
= render :partial => "admin/layouts/application"
= render :partial => "admin/layouts/header"

%div
	%h3 ACKNOWLEDGE NEW ARTIST NAME
	%div.pull-right#cancel_new_artist{:style => "margin-right:80px;margin-top:-45px;"}=button_to "Cancel", "/admin/offers", {:class=>"btn"}
	%div.head1_admin_offer{:style => "margin-top:41px;height:500px"}
		= form_for :artist_edit, :url => "/admin/artists/update", :html => {:id => "edit_artist_form"} do |f|
			.details_admin_artist
				%h6 FULL NAME
				= f.select :salutation, options_for_select(["Mr.","Ms."], :selected => @artist.artist_salutation), {}, {:class=>"head1_admin_offer_select1"}
				= f.text_field :artist_first_name, :value => @artist.artist_name.split(" ")[0], :style => "border-radius: 0 0 0 0 !important;border: 1px solid black !important;"
				%img#error_edit_artist_first_name{"data-original-title"=>"Please enter the artist first name", :src=>"/images/exclamation_mark.png", :style => "display:none"}
				= f.text_field :artist_last_name, :value => @artist.artist_name.split(" ")[1], :style => "border-radius: 0 0 0 0 !important;border: 1px solid black !important;"
				%img#error_edit_artist_last_name{"data-original-title"=>"Please enter the artist last name", :src=>"/images/exclamation_mark.png", :style => "display:none"}
				%br
				%h6 DATE OF BIRTH 
				= f.text_field :artist_birth_date, :value => @artist.artist_birth_date, :placeholder=>"YYYY-MM-DD", :style => "width:493px;margin-left:14px;border-radius: 0 0 0 0 !important;border: 1px solid black !important;"
				%br
				%h6 DATE OF DEATH
				= f.text_field :artist_death_date, :value => @artist.artist_death_date, :placeholder=>"YYYY-MM-DD", :style => "width:493px;margin-left:14px;border-radius: 0 0 0 0 !important;border: 1px solid black !important;"
				%br
				%h6 DESCRIPTION
				= f.text_area :artist_description, :value => @artist.artist_description, :style => "height:261px;width:493px;margin-left:14px;border-radius: 0 0 0 0 !important;border: 1px solid black !important;"
				%br
				%h6 OR LINK TO EXISTING
				-#=f.select :link_to_existing, options_from_collection_for_select(Artist.find(:all), "id", "artist_name", @artist.id), :style=>"margin-left:11px !important; width: 508px !important;"

				= select_tag(:link_to_existing, options_from_collection_for_select(Artist.find(:all), "id", "artist_name", @artist.id), :id=>"artist_edit_link_to_existing", :style=>"margin-left:11px; width: 508px;border-radius: 0 0 0 0 !important;border: 1px solid white !important;")

				=f.hidden_field :id, :value => @artist.id
				%div= f.submit :class=> "btn pull-right", :value=>"Acknowledge", :id => "submit_edit_artist", :style=> "margin-right:35px;margin-top:45px;margin-bottom:25px;"

		%div#cancel_new_artist=button_to "Cancel", "/admin/offers", {:class=>"btn", :style=> "margin-left:15px;margin-top:25px;"}
		

	= render :partial => "admin/layouts/footer"
