= content_tag :div, :class=>"layout_part_one pull-left", :style=>"width:780px;;background-color:#f1f1f1;padding:20px;" do
	= content_tag :h2, "ARTFACE SERVICE"
	= content_tag :ul, :class=>"unstyled pull-left", :style=>"width:100%;" do
		= content_tag :li, :class=>"pull-left", :style=>"width:31%;padding:5px;" do
			="Selling and buying art is a business full of putfalls. We at Artface.com have gathered a lot of experience over the past 20 years. We want to share this."
		= content_tag :li, :class=>"pull-left", :style=>"width:31%;padding:5px;" do
			="experience with you in order to make your art deal successful and as easy as finding fine art on our website. We offer the right contacts when it comes"
		= content_tag :li, :class=>"pull-left", :style=>"width:31%;padding:5px;" do
			="to finding the right art experts, experienced art lawyesrs and trustworthy partners"
