#wrapper.wrapper_service_directory_admin
  #section1.service_directory_admin_contact_data
    %h3=current_service_partner.company_name
    %div{:style=>"width:31%; float:left;"}
      %p{:style=>"margin-right:10px;"}
        ="Welcome to the service directory of Artface. In this section you can edit your contact data to become"
    %div{:style=>"width:31%; float:left;"}
      %p
        ="available for a huge range of potential clients. If you want to see how your adress looks like on"
    %div{:style=>"width:31%; float:left;"}
      %p
        ="artface and what your colleagues are doing have look below."
    %div{:style=>"width:100%; height:0px;clear:both;"} 
    #contact_data_details.contact_data_details
      = link_to "EDIT MY CONTACT", "/service_directory/edit/#{@service_partner_new.id}", :class=>"btn", :style=>"float:right; margin-right:30px;"
      -if "#{@service_partner_new.partner_type}" == "1"
        %h5 INSURANCE OFFICE
      -elsif "#{@service_partner_new.partner_type}" == "2"
        %h5 SHIPPING OFFICE
      -elsif "#{@service_partner_new.partner_type}" == "3"
        %h5 LAWYERS OFFICE
      -elsif "#{@service_partner_new.partner_type}" == "4"
        %h5 EXPERT OFFICE
      %p="#{@service_partner_new.company_name}"
      %p="#{@service_partner_new.salutation} " "#{@service_partner_new.first_name} " "#{@service_partner_new.last_name}"
      %p="#{@service_partner_new.street}"
      %p="#{@service_partner_new.zip_code} " "#{@service_partner_new.city}"
      %p="#{@service_partner_new.country}"
      %h5 PHONE
      %p="#{@service_partner_new.telephone_number}"
      %h5 FAX
      %p="#{@service_partner_new.fax_number}"
      %h5 WEBSITE
      %p="#{@service_partner_new.website}"
      %h5 EMAIL
      %p="#{@service_partner_new.email}"
      %h5 FOUNDED
      %p="#{@service_partner_new.founded}"
      %h5 NUMBER OF EMPLOYEES
      %p="#{@service_partner_new.number_of_employees}"
      %h5 SPECIALITIES
      -if "#{@service_partner_new.specialities}" == ''
        %p="..."
      -else
        %p="#{@service_partner_new.specialities}"
      %h5 DESCRIPTION
      -if "#{@service_partner_new.description}" == ''
        %p="..."
      -else
        %p="#{@service_partner_new.description}"
