= render :partial => "/dashboard/header"
.user_favourites_container{:style=>"float:left;margin-left:2%;"}
  %h2="BUY: YOUR FAVOURITES"
  %ul{:style=>"float:left;display:inline;list-style:none;"}
    %li{:style=>"float:left;width:30%"}="Keep track of your favourite paintings and add new offers to your list as they arrive on Artface.com."
    %li{:style=>"float:left;width:30%;margin-left:20px"}="Browse your favourites by preview or use our search in case your list has become very long."
    %li{:style=>"float:left;width:30%;margin-left:20px"}="Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor..."
  .search
    %span{:style=>"width:120px;"}
      %span{:style=>"line-height: 30px;width:inherit;color:white;"}="SEARCH"
    = form_for :offer, :url => favourite_search_path, :remote=>true do |f|
      = f.text_field :search_item, :placeholder=>"please enter your search term", :style=>"width:500px;"
      %img.pointer{:src=>"/images/plus.png", :style=>"margin-left:10px;margin-right:10px;marin-top:2px;"}
      = f.submit :class=> "btn", :value=>"SEARCH"
  .search_advanced{:style=>"float:left;width:86%"}
    %div{:style=>"width:15%;margin-right:15px;"}
      %h4{:style=>"color:white;"}="DETAILED SEARCH"
      %span{:style=>"color:white;"}
        %span#search_data_offers_count{:style=>"margin-right:2px;"}="#{@offers.count}"
        %span="  Results found"
    = form_for :offer, :url => favourite_search_path, :method=>"POST",:remote=>true, :html => {:style=>"float:left;width:82%"} do |f|
      = f.hidden_field :search_advanced, :value=>false
      %div#search_filters{:style=>"width:84%"}
        %ul{:style=>"list-style:none;margin-left:0;width:100%"}
          %li{:style=>"width:100%"}
            %select#advanced_select_1{:style=>"width:90px;float:left;"}
              %option{"data-function"=>"", :selected=>"true"}="Please choose an option"
              %option{"data-function"=>"if (check_option('Artist Name')!=false){$(a).html(\"#{escape_javascript(render("offer\/buy-art\/advanced-search\/artist"))}\");} else {alert('Error: Value already used ');}", :value=>"Artist Name"}="Artist Name"
              %img#error_artist_name{"data-original-title"=>"Please enter the artist name", :src=>"/images/exclamation_mark.png"}
              %option{"data-function"=>"if (check_option('Title')!=false){$(a).html(\"#{escape_javascript(render("offer\/buy-art\/advanced-search\/title"))}\");} else {alert('Error: Value already used ');}", :value=>"Title"}="Title"
              %img#error_artist_title{"data-original-title"=>"Please enter the artist name", :src=>"/images/exclamation_mark.png"}
              %option{"data-function"=>"if (check_option('Description')!=false){$(a).html(\"#{escape_javascript(render("offer\/buy-art\/advanced-search\/description"))}\");} else {alert('Error: Value already used ');}", :value=>"Description"}="Description"
              %option{"data-function"=>"if (check_option('year of creation')!=false){$(a).html(\"#{escape_javascript(render("offer\/buy-art\/advanced-search\/year_of_creation"))}\");} else {alert('Error: Value already used ');}", :value=>"year of creation"}="year of creation"
              %option{"data-function"=>"if (check_option('category/medium')!=false){$(a).html(\"#{escape_javascript(render("offer\/buy-art\/advanced-search\/category_medium"))}\");} else {alert('Error: Value already used ');}", :value=>"category/medium"}="category/medium"
              %option{"data-function"=>"if (check_option('offer type')!=false){$(a).html(\"#{escape_javascript(render("offer\/buy-art\/advanced-search\/offer_type"))}\");} else {alert('Error: Value already used ');}", :value=>"offer type"}="offer type"
              %option{"data-function"=>"if (check_option('movement/period')!=false){$(a).html(\"#{escape_javascript(render("offer\/buy-art\/advanced-search\/movement_period"))}\");} else {alert('Error: Value already used ');}", :value=>"movement/period"}="movement/period"
              %option{"data-function"=>"if (check_option('height')!=false){$(a).html(\"#{escape_javascript(render("offer\/buy-art\/advanced-search\/height"))}\");} else {alert('Error: Value already used ');}", :value=>"height"}="height"
              %option{"data-function"=>"if (check_option('width')!=false){$(a).html(\"#{escape_javascript(render("offer\/buy-art\/advanced-search\/width"))}\");} else {alert('Error: Value already used ');}", :value=>"width"}="width"
              %option{"data-function"=>"if (check_option('depth')!=false){$(a).html(\"#{escape_javascript(render("offer\/buy-art\/advanced-search\/depth"))}\");} else {alert('Error: Value already used ');}", :value=>"depth"}="depth"
              %option{"data-function"=>"if (check_option('signature')!=false){$(a).html(\"#{escape_javascript(render("offer\/buy-art\/advanced-search\/signature"))}\");} else {alert('Error: Value already used ');}", :value=>"signature"}="signature"
              %option{"data-function"=>"if (check_option('frame')!=false){$(a).html(\"#{escape_javascript(render("offer\/buy-art\/advanced-search\/frame"))}\");} else {alert('Error: Value already used ');}", :value=>"frame"}="frame"
              %option{"data-function"=>"if (check_option('certificate')!=false){$(a).html(\"#{escape_javascript(render("offer\/buy-art\/advanced-search\/certificate"))}\");} else {alert('Error: Value already used ');}", :value=>"certificate"}="certificate"
              %option{"data-function"=>"if (check_option('country')!=false){$(a).html(\"#{escape_javascript(render("offer\/buy-art\/advanced-search\/country"))}\");} else {alert('Error: Value already used ');}", :value=>"country"}="country"
              %option{"data-function"=>"if (check_option('submit date')!=false){$(a).html(\"#{escape_javascript(render("offer\/buy-art\/advanced-search\/submit_date"))}\");} else {alert('Error: Value already used ');}", :value=>"submit date"}="submit date"
              %option{"data-function"=>"if (check_option('offer end date')!=false){$(a).html(\"#{escape_javascript(render("offer\/buy-art\/advanced-search\/offer_end_date"))}\");} else {alert('Error: Value already used ');}", :value=>"offer end date"}="offer end date"
            %span#span_1{:style=>"float: left;height: 30px;margin-right: 5px;width: 320px;"}
            %img.remove_search_field{:src=>"/images/minus.png", :style=>"margin-right:0;float:right !important;"}
            %img.add_search_field{:src=>"/images/plus.png", :style=>"margin-right:5px;float:right !important;"}
      = f.submit "SEARCH", :style=>"float:right;", :class=>"btn", :id=>"buy_art_search_submit_button"
  .public_offers_page_step_three{:style=>"float:left;margin-top:10px;"}
    - if @offers.count != 0
      %div{:style=>"float:left;width:810px;"}
        %span{:style=>"float:left;"}
          %span{:style=>"margin-right:10px;"}="Sort list by"
          %select{:style=>"margin:0;width:120px;", :id=>"offers_public_page_sort_select"}
            %option{:value=>"artist name"}="artist name"
            %option{:value=>"date"}="date"
            %option{:value=>"popularity"}="popularity"
            %option{:value=>"time left"}="time left"
        %span{:style=>"float:left;"}
          %span{:style=>"margin-left:10px;margin-right:10px;line-height:30px;float:left;"}="Pictures per page"
          %select#offers_public_page_per_page{:style=>"width:50px;margin:0;"}
            %option{:value=>"6"}="6"
            %option{:value=>"12"}="12"
            %option{:value=>"18"}="18"
            %option{:value=>"24"}="24"
        %span{:style=>"float:left;"}
          %span{:style=>"margin-left:10px;margin-right:10px;line-height:30px;float:left;"}="Layout"
          %select#basic_search_layout_select{:style=>"width:180px;"}
            %option="Small previews"
            %option="Medium previews"
            %option="Large previews"
      %div{:style=>"float:left;width:810px;"}
        #search_data{:style=>"float:left;width:inherit;position:relative;"}
          = render :partial => "/favourite/search/search_data"
      %div.pull-left
        = input_tag "delete_favourite", "btn", "DELETE A FAVOURITE", ""
        = input_tag "cancel_delete_favourite", "btn", "CANCEL DELETE", "display:none;"
    - else
      %p No Favourites Found, Start adding favourites by checking out the offers

= render :partial => "dashboard/footer"