= render :partial => "admin/layouts/application"
= render :partial => "admin/layouts/header"
%br
%br
= render :partial => "admin/offers/buy-art/search"
%hr{:style=>"margin: 93px 0;border-top: 2px solid #797979 !important;width: 851px;"}
= render :partial => "admin/offers/buy-art/interesting_offers/interesting_offers"

= render :partial => "admin/offers/demanded-painters/demanded_painters"


= render :partial => "admin/offers/manage-artist/search"
= render :partial => "admin/offers/manage-artist/artist-names/artist_names"
= render :partial => "admin/layouts/footer"