%input.hidden#offer_count{:type=>"text", :value=>"#{@offers.count}"}
:javascript
  $("#search_data_offers_count").html($("#offer_count").val())
- if @offers.count == 0
  %p#favourite_result_text
    ="No Results Found for "
  :javascript
    var temp_favourite_val = $("#offers_public_page_sort_active_inactive").val()
    if($("#offers_public_page_sort_active_inactive option:selected").index() != 0) {
    $("#favourite_result_text").append(temp_favourite_val + " offers")
    } else {
    $("#favourite_result_text").append("all offers")
    }
- else 
  %div{:style=>"float:left;display:block"}
    %span#text_page{:style=>"margin: 10px 0 !important;position: absolute;right: 125px;top: -45px;"}="Page: "
    = will_paginate @offers, :link_separator=>"#{@offers.current_page}/#{@offers.total_pages}", :previous_label=>'<i class="icon-arrow-left"></i>', :next_label=>'<i class="icon-arrow-right"></i>', :inner_window=>0, :outer_windows=>0, :page_links=>false
  .search_data_outer_div
    %ul
      - @offers.each do |offer|
        %li.large_preview{:style=>"position:relative;"}
          %i.icon-remove-sign.pointer{:style=>"display:none;position:absolute;z-index:1;top:5px;right:5px", :id=>"remove_favourite_#{offer.id}"}
          .image_area
            %a{:href=>"#"}
              -# if offer.messages.count != 0
                %span{:style=>"background-color: #727272;border: 2px solid white;color: white;left: 2px;position: absolute;text-align: center;top: 20%;width: 16px;z-index: 30;"}=offer.messages.count
              =image_tag "https://artfacedev-pro.s3.amazonaws.com/public/images/uploaded/artwork/smalls/artwork_thumbnails/#{offer.artwork.id}/#{offer.artwork.artwork_thumbnail_file_name}", :alt=>"image not found" unless offer.artwork.nil?
          %span{:style=>"text-align:center"}
            ="Not Found" if offer.artwork.nil?
            %span.artist_name=offer.artwork.artist.artist_name unless offer.nil? && offer.artwork.nil? && offer.artwork.artist.nil?
            %span.remaining_time
              ="Remaining Time - "
              = humanize_time (offer.offer_end_date.to_i - Time.now.to_i) unless offer.offer_end_date.nil?
              = "NA" if offer.offer_end_date.nil?
    %div{:style=>"clear: both;color: black;float: right;width: 500px;"}  
      = will_paginate @offers, :link_separator=>"#{@offers.current_page}/#{@offers.total_pages}", :previous_label=>'<i class="icon-arrow-left"></i>', :next_label=>'<i class="icon-arrow-right"></i>', :inner_window=>0, :outer_windows=>0, :page_links=>false, :style=>"float: right;position:static;margin:0;"
      %input#offers_public_page_input_button{:type=>"button", :value=>"go", :style=>"float:right;height:30px;width:40px;margin-right:20px;"}
      %input#offers_public_page_input{:type=>"text", :style=>"width:30px;float:right;margin-right:20px;margin-bottom:0;"}
      %span#text_for_page_number{:style=>"float:right;margin-right:20px;line-height:30px;"}="Enter the page number"
      :javascript
        if(parseInt($("#offer_count").val()) <= parseInt($("#offers_public_page_per_page").val())) {
        $('#offers_public_page_input_button, #offers_public_page_input, #text_for_page_number, #text_page').css('display','none')
        }
        $(".pagination").children().each(function() {
        $(this).attr("data-remote",true)
        })
        offer_count = $("#offer_count").val();
        per_page    = $("#offers_public_page_per_page").val();
        number_of_pages = parseInt(parseInt(offer_count)/parseInt(per_page))
        if (number_of_pages < 1) {
        $('#offers_public_page_input_button, #offers_public_page_input, #text_for_page_number, #text_page').css('display','none')
        }
        if ($('#offer_count').val() == 0){
        $('#offers_public_page_input_button, #offers_public_page_input, #text_for_page_number, #text_page').css('display','none')
        }
        
      :javascript
        $(function(){
        setTimeout('$("#basic_search_layout_select").children().first().attr("selected","true").change()',150);
        
        $("#basic_search_layout_select").change(function() {
        if ($("#basic_search_layout_select option:selected").index() == 0)
        {
        $(".search_data_outer_div ul li .image_area a img").each(function() {
        var old_img_src = $(this).prop('src')
        var new_img_src = old_img_src.replace("smalls","smalls").replace("artwork_hires","artwork_thumbnails")
        new_img_src = new_img_src.replace("mediums","smalls")
        new_img_src = new_img_src.replace("larges","smalls")
        $(this).prop('src', new_img_src)
        })

        $(".search_data_outer_div ul li").addClass("small_preview")
        $(".search_data_outer_div ul li").removeClass("medium_preview")
        $(".search_data_outer_div ul li").removeClass("large_preview")
        }
        if ($("#basic_search_layout_select option:selected").index() == 1)
        {
        $(".search_data_outer_div ul li .image_area a img").each(function() {
        var old_img_src = $(this).prop('src')
        var new_img_src = old_img_src.replace("mediums","mediums").replace("artwork_thumbnails","artwork_hires")
        new_img_src = new_img_src.replace("smalls","mediums")
        new_img_src = new_img_src.replace("larges","mediums")        
        $(this).prop('src', new_img_src)
        })
        $(".search_data_outer_div ul li").removeClass("small_preview")
        $(".search_data_outer_div ul li").addClass("medium_preview")
        $(".search_data_outer_div ul li").removeClass("large_preview")
        }
        if ($("#basic_search_layout_select option:selected").index() == 2)
        {
        $(".search_data_outer_div ul li .image_area a img").each(function() {
        var old_img_src = $(this).prop('src')
        var new_img_src = old_img_src.replace("larges","larges").replace("artwork_thumbnails","artwork_hires")
        new_img_src = new_img_src.replace("mediums","larges")
        new_img_src = new_img_src.replace("smalls","larges")
        $(this).prop('src', new_img_src)
        })
        $(".search_data_outer_div ul li").removeClass("small_preview")
        $(".search_data_outer_div ul li").removeClass("medium_preview")
        $(".search_data_outer_div ul li").addClass("large_preview")
        }
        })
        })
:javascript
  $('#delete_favourite').css('display','none')
  $('#cancel_delete_favourite').css('display','none')
  if ($("#offer_count").val() == "0") {
  //$(".nav_sort_bar").hide()
  } else {
  //$(".nav_sort_bar").show()
  $('#delete_favourite').css('display','block')
  }