%input#offer_count{:type=>"text", :value=>"#{@offers.count}", :style=>"display:none;"}
= will_paginate @offers, :link_separator=>"#{@offers.current_page}/#{@offers.total_pages}", :previous_label=>'<i class="icon-arrow-left"></i>', :next_label=>'<i class="icon-arrow-right"></i>', :inner_window=>0, :outer_windows=>0, :page_links=>false
%div{:style=>"float:left;width:100%;margin-top:30px;position:relative"}
  - @offers.each do |offer|
    %ul{:style=>"list-style:none;float:left;width:32%;margin-left:0;background-color:#e9e9e9;margin-right:5px;"}
      %li{:style=>"width:100%;margin-right:10px;float:left;position:relative;height:80px;"}
        %a{:href=>"/memberfees"}
          =image_tag "https://artfacedev-pro.s3.amazonaws.com/public/images/uploaded/artwork/smalls/artwork_thumbnails/#{offer.artwork.id}/#{offer.artwork.artwork_thumbnail_file_name}", :alt=>"image not found", :style=>"height: 65px;padding: 8px;position: absolute;width: 65px;" unless offer.artwork.nil?
        %span{:style=>"text-align:center"}
          ="Not Found" if offer.artwork.nil?
          %span{:style=>"font-weight: bold;left: 75px;position: absolute;text-align: center;text-decoration: underline;top: 15px;width: auto;"}=offer.artwork.artist.artist_name unless offer.nil? && offer.artwork.nil? && offer.artwork.artist.nil?
          %span{:style=>"left: 80px;position: absolute;top: 33px;font-size:11px;"}
            ="Remaining Time - "
            = humanize_time (offer.offer_end_date.to_i - Time.now.to_i) unless offer.offer_end_date.nil?
            = "NA" if offer.offer_end_date.nil?
  %div{:style=>"clear: both;color: black;float: right;width: 500px;"}  
    = will_paginate @offers, :link_separator=>"#{@offers.current_page}/#{@offers.total_pages}", :previous_label=>'<i class="icon-arrow-left"></i>', :next_label=>'<i class="icon-arrow-right"></i>', :inner_window=>0, :outer_windows=>0, :page_links=>false, :style=>"float: right;position:static;margin:0;line-height:30px;"
    %input{:id=>"offers_public_page_input_button", :type=>"button", :value=>"go", :style=>"float:right;height:30px;width:40px;margin-right:20px;"}
    %input{:id=>"offers_public_page_input", :type=>"text", :style=>"width:30px;float:right;margin-right:20px;margin-bottom:0;"}
    %span{:style=>"float:right;margin-right:20px;line-height:30px;"}="Enter the page number"
  -##pagination_links_copy{:style=>"float:right;margin-left:30px;margin-right:65px;"}
