= render :partial=> 'layouts/header'
.step_one
	%div{:style=>"width:820px;margin-left:2%"}
		- if @from_home
			%h2=t ".title_from_home"
			%table
				%tr
					%td=t ".text_one_from_home"
					%td=t ".text_two_from_home"
					%td=t ".text_three_from_home"
		- else
			%h2=t ".title"
			%table
				%tr
					%td=t ".text_one"
					%td=t ".text_two"
					%td=t ".text_three"
	%div
		%table{:style=>"width:820px;margin-left:2%;background-color:#E9E9E9;text-align:center;"}
			%thead{:style=>"text-align:center;"}
				- subscription_plan_data
				%th=""
				%th=@subscription_plans[0].subscription_name
				%th=@subscription_plans[1].subscription_name
				%th=@subscription_plans[2].subscription_name
				%th=@subscription_plans[3].subscription_name
				%th=@subscription_plans[4].subscription_name
			%tbody
			%tr
				%td{:style=>"text-align:left"}=t ".row_one"
				%td=@subscription_plans[0].subscription_fee
				%td=@subscription_plans[1].subscription_fee
				%td=@subscription_plans[2].subscription_fee
				%td=@subscription_plans[3].subscription_fee
				%td=@subscription_plans[4].subscription_fee
			%tr
				%td{:style=>"text-align:left"}="#{t(".row_two")}".html_safe
				%td=@subscription_plans[0].subscription_paintings_allowed
				%td=@subscription_plans[1].subscription_paintings_allowed
				%td=@subscription_plans[2].subscription_paintings_allowed
				%td=@subscription_plans[3].subscription_paintings_allowed
				%td=t ".no_limit" if @subscription_plans[4].subscription_paintings_allowed == 9999999
			%tr
				%td{:style=>"text-align:left"}="#{t(".row_three")}".html_safe
				%td=t ".unlimited_text"
				%td=t ".unlimited_text"
				%td=t ".unlimited_text"
				%td=t ".unlimited_text"
				%td=t ".unlimited_text"
			%tr
				%td{:style=>"text-align:left"}="#{t(".row_four")}".html_safe
				%td=t ".check"
				%td=t ".check"
				%td=t ".check"
				%td=t ".check"
				%td=t ".check"
			%tr
				%td
	
				%td
					= link_to "SIGN UP", "/users/register#plan=basic", :class=>"btn"
					-#%input{:type=>"button", :id=>"sign_up_basic", :value=>"#{t(".sign_up")}", :class=>"btn"}
				%td
					= link_to "SIGN UP", "/users/register#plan=plus", :class=>"btn"
					-#%input{:type=>"button", :id=>"sign_up_plus", :value=>"#{t(".sign_up")}", :class=>"btn"}
				%td
					= link_to "SIGN UP", "/users/register#plan=pro", :class=>"btn"
					-#%input{:type=>"button", :id=>"sign_up_pro", :value=>"#{t(".sign_up")}", :class=>"btn"}
				%td
					= link_to "SIGN UP", "/users/register#plan=premium", :class=>"btn"
					-#%input{:type=>"button", :id=>"sign_up_premium", :value=>"#{t(".sign_up")}", :class=>"btn"}
				%td
					= link_to "SIGN UP", "/users/register#plan=no_limit", :class=>"btn"
					-#%input{:type=>"button", :id=>"sign_up_no_limit", :value=>"#{t(".sign_up")}", :class=>"btn"}
	%div{:style=>"width:820px;margin-left:2%"}
		%h2=t ".upgrades_title"
		%table
			%tr
				%td="#{t(".upgrades_text_one")}".html_safe
				%td="#{t(".upgrades_text_two")}".html_safe
				%td="#{t(".upgrades_text_three")}".html_safe
	%div{:style=>"width:820px;margin-left:2%"}
		%h2=t ".subscription_title"
		%table
			%tr
				%td="#{t(".subscription_text_one")}".html_safe
				%td="#{t(".subscription_text_two")}".html_safe
				%td="#{t(".subscription_text_three")}".html_safe

= render :partial=> 'layouts/footer'


