%ul{:style=>"margin-left:30px;"}
  - @artist_names.each do |artist|
    %li
      -#%a{:href=>"offer/show/#{offer.id}"}
        -# if offer.messages.count != 0
        -#  %span=offer.messages.count
        -#=image_tag "https://artfacedev-pro.s3.amazonaws.com/public/images/uploaded/artwork/smalls/artwork_thumbnails/#{offer.artwork.id}/#{offer.artwork.artwork_thumbnail_file_name}", :alt=>"image not found", :alt=>"image not found"
        -#%i.icon-certificate
      %span{:style=>"text-align:center"}
        %i.icon-remove-sign.pointer{:style=>"display:none;position:absolute;z-index:1;top:5px;right:5px", :id=>"remove_artist_#{artist.id}"}
        %span.admin_artist_name=link_to(artist.artist_name || "unknown", "/admin/artist/#{artist.id}/edit")
        %span.span10interesting_offers_span_time=artist.artist_birth_year + "-" + artist.artist_death_year
        -if (artist.approved_status == false)
          | Unacknowledged
        -else
          | Acknowledged

        -# if (humanize_time(offer.offer_end_date.to_i - Time.now.to_i)).blank?
        -#  %span.span10interesting_offers_span_time="Remaining Time: unknown"
        -# else
        -#  %span.span10interesting_offers_span_time="Remaining Time: #{humanize_time(offer.offer_end_date.to_i - Time.now.to_i)}"
  = will_paginate @artist_names , :remote=>true, :link_separator=>"#{@artist_names.current_page}/#{@artist_names.total_pages}", :previous_label=>'<i class="icon-arrow-left"></i>', :next_label=>'<i class="icon-arrow-right"></i>', :inner_window=>0, :outer_windows=>0, :page_links=>false