= render :partial => "layouts/header"
.user_edit_container.pull-left{:style=>"width:820px;margin-left:2%;"}
  = render :partial => "user/edit/static"
  = render :partial => "user/edit/subscription_data"
  = render :partial => "user/edit/privacy_settings"
  = render :partial => "user/edit/documents"
= render :partial => "dashboard/footer"