= render :partial => "user_header"
%br
%br
= "There has been difficulties in processing your payment. Please contact [Name] at .".html_safe
= "&lt;a href='mailto:help@[Name].com'&gt; cloud.test.dev@gmail.com &lt;/a&gt; ".html_safe
= "to avoid deactivation of account.".html_safe
%br
%br
= render :partial => "user_footer"
="Haml"
%br
=@data
