- unless @offer.messages.blank?
  %ul.offers_messages_data.width_100.pull-left.unstyled{:style=>"margin-left: 0;padding-left: 10px;padding-right: 10px"}
    %li.offers.pull-left.width_100
      %span.pull-left.width_100{:style=>"background-color: #E9E9E9;margin-bottom: 10px;padding: 7px;position: relative;"}
        %a{:href=>"/offer/show/#{@offer.id}"}
          %img{:src=>"#{PAPERCLIP_STORAGE_PATH}images/uploaded/artwork/originals/artwork_hires/#{@offer.artwork.id}/#{@offer.artwork.artwork_hires_file_name}", :alt=>"Image Not found", :style=>"float:left;width:60px;height:60px;margin-right:10px;"}
        %i.icon-arrow-down{:style=>"position:absolute;right:10px;top:10px;", :id=>"offer_#{@offer.id}"}
        %ul.pull-left.unstyled
          %li.pull-left{:style=>"clear:both;"}
            %span.pull-left{:style=>"text-decoration:underline;font-weight:bold;margin-right:5px;"}=@offer.artwork.artist.artist_name
            %span.pull-left{:style=>"margin-right:5px;"}="|"
            %span.pull-left{:style=>"margin-right:5px;"}="highest offer: $10,000,000"
            %span.pull-left{:style=>"margin-right:5px;"}="|"
            %span.pull-left{:style=>"margin-right:5px;"}="offer remaining: #{(@offer.offer_end_date.to_date - Date.today).to_i } days"
          %li.pull-left{:style=>"clear:both"}
            %span.pull-left{:style=>"margin-top:0;"}="#{@offer.messages.count} messages"
      %ul.messages.pull-left.width_100.unstyled{:style=>"margin-left:0;margin-bottom:10px;display:none;background-color:#f1f1f1", :id=>"offer_#{@offer.id}_message"}
        - @offer.messages.each do |message|
          %li.pull-left.width_100{:style=>"border-bottom:1px solid black;", :id=>"message_#{message.id}"}
            %ul.pull-left.width_100.unstyled{:style=>"margin:0;background-color:#f1f1f1"}
              %li.pull-left.width_100
                %span.pull-left{:style=>"font-weight:bold;"}=message.created_at.to_date
                %span.pull-left{:style=>"margin-right:5px;margin-left:5px"}="|"
                %span.pull-left{:style=>"font-weight:bold;"}=message.created_at.strftime("%I:%M")
                %span.pull-left{:style=>"margin-right:5px;margin-left:5px;"}="|"
                %span.pull-left{:style=>"font-weight:bold;margin-right:2px;"}
                  ="#{message.user.user_first_name} #{message.user.user_last_name}: " unless message.user.nil?
                  ="Anonymous" if message.user.nil?
                %span.pull-left{:style=>"font-weight:bold;"}="#{message.message_title}"
                %span.pull-right{:style=>"margin-right:10px;"}
                  %i.icon-remove-sign{:id=>"message_delete_#{message.id}"}
                  %i.icon-arrow-left
                  %i.icon-arrow-down
              %li.pull-left.width_100=message.message_text
