= render :partial => "layouts/header"
.service_container{:style=>"float:left;width:820px;margin-left:2%;"}
  = render :partial => "service/index/layout_part_one"
  = render :partial => "service/index/layout_part_two"
  = render :partial => "service/index/layout_part_three"
  = render :partial => "service/index/layout_part_four"
  = render :partial => "service/index/layout_part_five"
  = render :partial => "service/index/layout_part_six"
= render :partial => "layouts/footer"