= javascript_include_tag "admin/admin_forum_index.js"

= render :partial => "admin/layouts/header"
.container_forum_index
	= render :partial => "admin/forums/index/layout_part_three"
	= render :partial => "admin/forums/index/layout_part_four"
= render :partial => "admin/layouts/footer"