-if (params[:choice]=="1")
  $("#head2_user").html('#{escape_javascript(render :partial => "edit_subscription")} ');
-elsif (params[:choice]=="2")
  $("#head2_user").html('#{escape_javascript(render :partial => "subscription")} ');
-elsif (params[:choice]=="3")
  $("#third").html('#{escape_javascript(render :partial => "edit_contact")} ');
-elsif (params[:choice]=="4")
  $("#fourth").html('#{escape_javascript(render :partial => "user_info")} ');
-elsif (params[:choice]=="5")
  $("#fifth").html('#{escape_javascript(render :partial => "user_info")} ');
-elsif (params[:choice]=="6")
  $("#sixth").html('#{escape_javascript(render :partial => "edit_")} ');


