.user_section_header
	= render :partial => "admin/layouts/header"
.user_offer_section_one#offer_section_one
	= render :partial => "admin/users/users_offer_show/show"
	= render :partial => "admin/users/users_offer_show/full_screen_myoffer_show"
.user_offer_section_two#offer_section_two
	= render :partial => "admin/users/users_offer_show/user_offers_show_page"
= render :partial =>"admin/layouts/footer"
	