= content_tag :div, :class=>"layout_part_four pull-left", :style=>"width:780px;padding:20px;margin-top:20px;" do
	= render :partial =>"admin/services/index/layout_part_four/part_one"
	= render :partial =>"admin/services/index/layout_part_four/part_two"
	= render :partial =>"admin/services/index/layout_part_four/part_three"
	= render :partial =>"admin/services/index/layout_part_four/part_four"
	= render :partial =>"admin/services/index/layout_part_four/part_five"