= content_tag :div, :class=>"pull-left", :style=>"width:100%;" do
  = content_tag :h3, :style=>"", :class=>"" do
    ="REPORT STOLEN ART"
  = content_tag :div, :class=>"pull-left", :style=>"width:250px;" do
    = content_tag :p, :class=>"pull-left" do
      ="If you suspect a piece of art offered here on Artface.com to be stolen you an contact our partners from various legal departments all over the world."
  = content_tag :div, :class=>"pull-left", :style=>"width:550px" do
    = content_tag :ul, :class=>"unstyled pull-left", :style=>"width:100%" do
      = content_tag :li, :class=>"pull-left", :style=>"background-color: #727272;height: 130px;margin-right: 10px;padding: 10px;width: 130px;" do
        = content_tag :a , :href=> "#", :class=>"pull-left", :style=>"width:100%;" do
          = content_tag :p, :class=>"pull-left", :style=>"width:100%;text-align:center;margin-top:40%" do
            = "INTERPOL"
      = content_tag :li, :class=>"pull-left", :style=>"background-color: #727272;height: 130px;margin-right: 10px;padding: 10px;width: 130px;" do
        = content_tag :a , :href=> "#", :class=>"pull-left", :style=>"width:100%;" do
          = content_tag :p,:class=>"pull-left" , :style=>"width:100%;text-align:center;margin-top:40%" do
            = "ARTLOSS.COM"
      = content_tag :li, :class=>"pull-left", :style=>"background-color: #727272;height: 130px;margin-right: 10px;padding: 10px;width: 130px;" do
        = content_tag :a , :href=> "#", :class=>"pull-left", :style=>"width:100%;" do
          = content_tag :p, :class=>"pull-left", :style=>"width:100%;text-align:center;margin-top:40%" do
            ="CARBINIERI"