= content_tag :div, :class=>"layout_part_four pull-left", :style=>"width:780px;padding:20px;margin-top:20px;" do
	= render :partial =>"service_directory_admin/show/layout_part_four/part_one"
	= render :partial =>"service_directory_admin/show/layout_part_four/part_two"
	= render :partial =>"service_directory_admin/show/layout_part_four/part_three"
	= render :partial =>"service_directory_admin/show/layout_part_four/part_four"